<!DOCTYPE html>
<html lang="zh-CN">    
    <head>        
    <meta charset="utf-8″>
    <title>B06 Innovation Space</title>
    <link href="{{static_url("css/style.css")}}" type="text/css" rel="stylesheet" >
    {% block css %}
    {% end %}

{#    <script type="text/javascript">#}
{#               window.setInterval(function() {#}
{#                   go_to();#}
{#               },#}
{#               100);        #}
{#               function go_to() {        #}
{#                   if( document.getElementById("myArticle").style.height < (document.getElementById("myArticle").scrollHeight – 4 ) + "px")    #}
{#                               document.getElementById("myArticle").style.height = document.getElementById("myArticle").scrollHeight + "px";#}
{#    }#}
{#    </script>#}
    </head>
    <body>
        <div class="main">
            <!--<img class="logo" src="{{ static_url('img/logo.png') }}">-->
            <div class="container">            
                <h1>欢迎访问B06测试博客{{ " hello "}}</h1>
                <div class="content">            
                    <form method="post" action="">
                        <p>文章标题：</p>                
                        <input type="text" class="typeahead" name="title" placeholder="在这里输入你的标题" />
                        <p>文章正文：</p>                
                        <textarea type="text" class="Article" id="myArticle" name="content" placeholder="在这里输入你的正文"></textarea>                
                        <br/>                
                        <input type="submit" class="Article Button Submit" value="发   布"/>                
                    </form>            
                </div>            
            </div>            
        </div>        
    </body>
<script src="{{ static_url("js/jquery.js")}}"></script>
<script src="{{ static_url("js/bootstrap-transition.js")}}"></script>
    <script src="{{ static_url("js/my.js")}}"></script>
<script src="{{ static_url("js/typeahead.js")}}"></script>

</html>
